/*   DEBUG   */
.debug header .container-fluid {
    height: 80px;
}
.debug header .container-fluid .row {
    height: 80px;
}

.debug .ms_aside_size {
    background-color: rgb(81, 81, 223);
}

.debug .head-main-content {
    background-color: yellow;
}

.debug .ms_next_class {
    height: 300px;
    background-color: green;
}

.debug .ms_faq {
    height: 300px;
    background-color: pink;
}

.debug .ms_todo {
    height: 300px;
    background-color: purple;
}

.debug .ms_utenti_attivi {
    height: 300px;
    background-color: lightcoral;
}

/*   HEADER   */
.ms_search_bar {
    width: 88%;
    display: inline;
    border: none;
}

.ms_logo_mobile {
    width: 50px;
    padding: 0px;
}

.ms_logo_col {
    padding: 0px;
}

.ms_header_container {
    height: 80px; 

}

.ms_bell {
    color: orange;
}

/*   MAIN   */
main {
    height: calc(100vh - 80px);
}



/*   ASIDE   */

.ms_aside_size {
    width: 10%;
    height: calc(100% -80px);
    padding: 1rem;
}


/*   MAIN-CONTENT */

.ms_container {
    height: 100%;
}

.main-content {
    width: calc(100% - 10%);
    overflow-y: scroll;
}
.head-main-content {
    width: 100%;
    height: 120px;
}



/*    RESPONSIVE    */


@media all and (max-width: 576px) {

}

@media all and (min-width: 577px) {

}


@media all and (min-width: 768px;) {

}


@media all and (min-width: 992px;) {

}
 

@media all and (min-width: 1200px;) {

}